/*
	MAIN STYLES
*/
body,
html {
	font-family: "Open Sans", sans-serif;	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", "Open Sans", sans-serif;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.content-wrapper,
.footer-wrapper {
	margin: 0 auto;
	padding: 80px 0;
	max-width: 980px;
}

section {
	margin: 0;
}

.btn-il {
	display: inline-block;
    padding: 7px 14px 8px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid transparent;
    color: #FFF;
}

.btn-il:hover {
	color: #FFF;
}

.btn-il--blue {
	background-color: #377DDD;
}

.btn-il--blue:hover,
.btn-il--blue:focus,
.btn-il--blue:active {
	background-color: #2269CA;
}

.btn-il--orange {
	background-color: #F89816;
}

.btn-il--orange:hover,
.btn-il--orange:focus,
.btn-il--orange:active {
	background-color: #F9A431;
}

/*
	HEADER
*/

.header-main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: 60px;
	background-color: rgba(0, 0, 0, .7);
}

.logo {
	display: inline-block;
	float: left;
	margin: 0 0 0 40px;
	text-decoration: none;
	font: 21px/60px "Montserrat";
	color: #8BA3C7;
}

.logo:hover,
.logo:focus,
.logo:active {
	color: #FFF;
}

.login-btn {
	float: right;
	margin: 12px 40px 0 20px;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: 600;
}

.main-nav {
	float: right;
	line-height: 60px;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	margin: 0;
}

.main-nav li + li {
	margin: 0 0 0 20px;
}

.main-nav li a {
	text-decoration: none;
	font: 14px/1 "Droid Sans";
	display: block;
	color: #FFF;
}

.main-nav li a {
	height: 60px;
	line-height: 60px;
	border-bottom: 3px solid transparent;
}

.main-nav li a:hover {
	border-color: #FFF;
}


/*
	HERO UNIT
*/

.hero {
	padding-top: 60px;
	background-color: #377DDD;
	background-image: url('../img/header-bg1.png?1');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	min-height: 80vh;
}

.hero__headline,
.hero__sub-headline {
	margin: 0;
	text-align: center;
	color: #FFF;
}

.hero__headline {
	font-weight: bold;
	margin: 0;
	margin-top: 10vh;
}

.hero__sub-headline {
	margin-bottom: 80px;
	margin-bottom: 10vh;
}

.benefits-wrapper {
	float: none;
	width: 95%;
	margin: 0 auto;
}

.benefits {
	line-height: 1.5;
}

.benefits__headline {
	margin: 0 0 10px;
	color: #EEE;
}

.benefits__description {
	margin: 0 0 10px;
	color: #EEE;
}

.benefits__list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #EEE;
}

.benefits__list li .fa {
	color: #55F134;
}

.register {
	margin: -20px 0 0;
}

.register__description {
	line-height: 1.5;
	margin: 0 0 20px;
	color: #FFF;
}

.register__form {
	margin: 0 0 0 10px;
}

.register__form input,
.register__form button {
	display: block;
	padding: 0 10px;
	width: 100%;
}

.register__form input {
	line-height: 40px;
	border: 0 none;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.5);

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

.register__form button {
	line-height: 45px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
			box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.register__form input {
	margin-bottom: 10px;
}

.register__form label {
	font-size: 12px;
	color: #FFF;
	font-weight: 600;
}

.register__microcopy {
	margin: 10px 0 0;
	font-size: 11px;
	color: #EEE;
	text-align: center;
}


/*
	FEATURES
*/

.features__item {
	text-align: center;
}

.features__icon-wrapper {
	width: 130px;
	height: 130px;
	margin: 0 auto;
	background-color: #EEE;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
}

.features__icon {
	position: relative;
	top: 5px;
	left: 5px;
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	background-color: #FFF;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
			box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.features__icon i {
	color: #605F69;
	vertical-align: middle;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}

.features__item p {
	margin: 0 10px;
}

/*
	VIDEO
*/
.video {
	background-color: #377DDD;
}

.video__headline {
	color: #FFF;
	text-align: center;
	margin: 0 0 30px;
}

.video__wrapper {
	float: none;
	margin: 0 auto;
}

.video__microcopy {
	margin: 10px 0;
	text-align: center;
	font-size: 12px;
	color: #A5C5EF;
}

/*
	TESTIMONIALS
*/

.testimonials__wrapper {
	margin: 0 auto;
	width: 90%;
}

.testimonials__quote {
	position: relative;
	margin: 0 0 15px 0;
	padding: 25px;
	min-height: 130px;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #FAFAFA;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
			box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.testimonials__quote::before,
.testimonials__quote::after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -19px;
	left: 24px;
	border-width: 10px;
	border-color: #FBFBFB transparent transparent transparent;
	border-style: solid;

}

.testimonials__quote::before {
	z-index: 1;
}

.testimonials__quote::after {
	bottom: -21px;
	border-color: #ECECEC transparent transparent transparent;
	border-color: rgba(0,0,0,.05) transparent transparent transparent;
	z-index: 0;
}

.testimonials__user-wrapper {
	margin: 0 0 0 5px;
	font-size: 12px;
}

.testimonials__user-avatar {
	float: left;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 5px 10px 0 1px;
    /*border: 3px solid #38A0D8;*/
}

.testimonials__username {
	padding-top: 15px;
	font-size: 14px;
	font-weight: 600;
}

.testimonials__user-role {
	color: #6C6A74;
}


/*
	CLOSURE	
*/

.closure {
	background-color: #377DDD;
}

.closure__headline {
	margin: 0 0 20px;
	text-align: center;
	color: #FFF;
}

.closure__cta {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;

	background-color: #F89816;
	border: 2px solid #155570;
	color: #FFF;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.closure__cta:hover {
	color: #FFF;
	background-color: #F9A431;	
}

.closure__microcopy {
	max-width: 260px;
	margin: 8px auto;
	font-size: 12px;
	color: #A5C5EF;
	text-align: center;
}


/*
	FOOTER
*/

.footer {
	background-color: #222;
}

.footer-wrapper {
	padding: 30px 0;
}

.social-icons {
	position: relative;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.social-icons li {
	display: inline-block;
}

.social-icons li + li {
	margin: 0 0 0 10px;
}

.social-icons li a {
	position: relative;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background-color: #333;
	color: #EEE;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;

	-webkit-box-shadow: 0 1px 1px #111;
	   -moz-box-shadow: 0 1px 1px #111;
			box-shadow: 0 1px 1px #111;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
	transition: all ease-in-out .2s;
	top: -1px;

	-webkit-box-shadow: 0 3px 1px #111;
	   -moz-box-shadow: 0 3px 1px #111;
			box-shadow: 0 3px 1px #111;
}

.fb:hover,
.fb:focus,
.fb:active {
	background-color: #3b5998;
}

.tw:hover,
.tw:focus,
.tw:active {
	background-color: #00aced;
}

.gp:hover,
.gp:focus,
.gp:active {
	background-color: #dd4b39;
}

.footer__copy {
	margin: 15px 0 0;
	font-size: 12px;
	text-align: center;
	color: #444;
}

@media (min-width: 320px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.5;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 14px;
	}

	.il-navicon,
	.il-navicon:hover,
	.il-navicon:focus,
	.il-navicon:active {
		position: absolute;
		top: 14px;
		left: 5px;
		color: #EEE;
	}

	.logo {
		font-size: 16px;
		margin-left: 40px;
	}

	.login-btn {
		margin: 15px 10px 0 0;
		padding: 5px 8px 6px;
	}

	.main-nav {
		display: none;
		float: none;
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
		line-height: normal;
		background-color: rgba(0, 0, 0, .8);
	}

	.main-nav.shown {
		display: block;
	}

	.main-nav ul {
		padding: 0 20px;
	}

	.main-nav li a {
		line-height: 40px;
		height: 40px;
	}

	.hero__headline {
		margin-top: 0;
		padding: 0 15px;
	}

	.hero__sub-headline {
		margin-bottom: 40px;
		padding: 0 15px;
	}

	.benefits {
		float: none;
		margin: 0 auto 30px;
		max-width: 420px;
	}

	.benefits__headline {
		font-weight: bold;
	}

	.benefits__list li {
		position: relative;
	}

	.benefits__list li i {
		position: absolute;
		left: -20px;
		top: 4px;
	}

	.benefits__list li + li {
		margin-top: 8px;
	}

	.register {
		float: none;
		margin: 0 auto;
		max-width: 420px;
	}

	.register__form {
		margin: 0;
	}

	.register__description {
		margin-bottom: 10px;
	}

	.register__form button {
		font-size: 12px;
		font-weight: 600;
	}

	.features__item + .features__item {
		margin-top: 40px;
	}

	.testimonials__item + .testimonials__item {
		margin-top: 40px;
	}

	.closure__headline {
		padding: 0 10px;
	}

	.closure__cta {
		max-width: 260px;
		font-size: 12px;
	}

}

@media (min-width: 768px) {
	.main-nav {
		float: right;
	    display: block;
	    position: static;
	    line-height: 60px;
	    background-color: transparent;
	}

	.main-nav li a {
		height: 60px;
		line-height: 60px;
	}
	
	.login-btn {
		margin: 14px 40px 0 20px;
	}

	.hero__headline {
		margin: 0;
		padding: 0;
	}

	.benefits {
		float: none;
	}

	.benefits__list li + li {
		margin-top: 3px;
	}

	.benefits__list li i {
		position: static;
	}

	.register__form button {
		font-size: 14px;
	}

	.features__item + .features__item,
	.testimonials__item + .testimonials__item {
		margin-top: 0;
	}

	.testimonials__quote {
		min-height: 176px;
	}

	.closure__cta {
	    max-width: 320px;
	    font-size: 14px;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 21px;
	}

	h3 {
		font-size: 16px;
	}

	.hero {
		padding-top: 60px;
		min-height: 80vh;
	}

	.hero__headline {
		margin: 0;
		margin-top: 10vh;
	}

	.hero__sub-headline {
		margin-bottom: 80px;
		margin-bottom: 10vh;
	}

	.benefits-wrapper {
		float: none;
		width: 95%;
		margin: 0 auto;
	}

	.benefits {
		float: left;
		max-width: 420px;
	}

	.register {
		float: right;
		max-width: 340px;
		margin-top: -10px;
	}

	.register__form {
		max-width: 280px;
	}

	.testimonials__quote {
		min-height: 130px;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 36px;
	}

	.content-wrapper,
	.footer-wrapper {
		max-width: 1080px;
	}

	.hero__headline {
		margin-top: 12vh;
	}
	
	.hero__sub-headline {
		margin-bottom: 8vh;
	}

	.benefits-wrapper {
		width: 80%;
	}

}

